<?xml version="1.0"?>
<config>
    <modules>
        <Boxalino_Exporter>
            <version>2.10</version>
        </Boxalino_Exporter>
    </modules>
    <global>
        <index>
            <indexer>
                <boxalinoexporter_indexer>
                    <model>boxalinoexporter/indexer</model>
                </boxalinoexporter_indexer>
                <boxalinoexporter_delta>
                    <model>boxalinoexporter/delta</model>
                </boxalinoexporter_delta>
            </indexer>
        </index>
        <helpers>
            <boxalinoexporter>
                <class>Boxalino_Exporter_Helper</class>
            </boxalinoexporter>
        </helpers>
        <models>
            <boxalinoexporter>
                <class>Boxalino_Exporter_Model</class>
                <resourceModel>boxalinoexporter_mysql4</resourceModel>
            </boxalinoexporter>
            <boxalinoexporter_mysql4>
                <class>Boxalino_Exporter_Model_Mysql4</class>
            </boxalinoexporter_mysql4>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Boxalino_Exporter>
                    <files>
                        <default>Boxalino_Exporter.csv</default>
                    </files>
                </Boxalino_Exporter>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <boxalinoexporter>
            <export_data>
                <export_server>http://di1.bx-cloud.com</export_server>
                <export_product_url>1</export_product_url>
                <export_product_images>1</export_product_images>
                <export_product_images_thumbnail>1</export_product_images_thumbnail>
                <maximum_population>0</maximum_population>
                <language>en</language>
                <export_categories>1</export_categories>
                <export_tags>1</export_tags>
                <export_customers>1</export_customers>
                <export_transactions>1</export_transactions>
                <export_chunk>200</export_chunk>
            </export_data>
        </boxalinoexporter>
    </default>
</config>