<?xml version="1.0"?>

<config>
	<modules>
		<Boxalino_Cem>
			<version>1.7</version>
		</Boxalino_Cem>
	</modules>

	<global>
		<blocks>
			<boxalinocem><class>Boxalino_Cem_Block</class></boxalinocem>
		</blocks>
		<helpers>
			<boxalinocem>
				<class>Boxalino_Cem_Helper</class>
			</boxalinocem>
		</helpers>
		<index>
			<indexer>
				<boxalinocem_xmlindexer>
					<model>boxalinocem/indexer</model>
				</boxalinocem_xmlindexer>
			</indexer>
		</index>
		<models>
			<boxalinocem>
				<class>Boxalino_Cem_Model</class>
				<resourceModel>boxalinocem_mysql4</resourceModel>
			</boxalinocem>
			<boxalinocem_mysql4>
				<class>Boxalino_Cem_Model_Mysql4</class>
				<entities>
				</entities>
			</boxalinocem_mysql4>
		</models>
	</global>
	<frontend>
		<routers>
			<boxalinocem>
				<use>standard</use>
				<args>
					<module>Boxalino_Cem</module>
					<frontName>cem</frontName>
				</args>
			</boxalinocem>
		</routers>
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<boxalinocem_cart_add>
						<class>boxalinocem/observer</class>
						<method>onProductAddedToCart</method>
					</boxalinocem_cart_add>
				</observers>
			</checkout_cart_product_add_after>
			<checkout_onepage_controller_success_action>
				<observers>
					<boxalinocem_order_success>
						<class>boxalinocem/observer</class>
						<method>onOrderSuccessPageView</method>
					</boxalinocem_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<boxalinocem_order_success>
						<class>boxalinocem/observer</class>
						<method>onOrderSuccessPageView</method>
					</boxalinocem_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
			<catalog_controller_product_view >
				<observers>
					<boxalinocem_product_view>
						<class>boxalinocem/observer</class>
						<method>onProductPageView</method>
					</boxalinocem_product_view>
				</observers>
			</catalog_controller_product_view >
		</events>
  		<translate>
			<modules>
				<Boxalino_Cem>
					 <files>
						  <default>Boxalino_Cem.csv</default>
					 </files>
				</Boxalino_Cem>
			</modules>
		</translate>
		<!--<layout>-->
			 <!--<updates>-->
				  <!--<boxalinocem>-->
						<!--<file>boxalinocem.xml</file>-->
				  <!--</boxalinocem>-->
			 <!--</updates>-->
		<!--</layout>-->
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Boxalino_Cem>
					 <files>
						  <default>Boxalino_Cem.csv</default>
					 </files>
				</Boxalino_Cem>
			</modules>
		</translate>
	</adminhtml>

	<default>
		<boxalinocem>
			<service>
				<connect_timeout>1000</connect_timeout>
				<connect_tries>5</connect_tries>
				<read_timeout>15000</read_timeout>
				<language>en</language>
			</service>
			<synchronization>
				<data_mode>1</data_mode>
				<export_categories>1</export_categories>
				<export_tags>1</export_tags>
				<image_sizes>standard:300x300</image_sizes>
				<small_image_sizes>standard:70x70</small_image_sizes>
				<maximum_population>0</maximum_population>
			</synchronization>
			<frontend>
				<charset>UTF-8</charset>
			</frontend>
		</boxalinocem>
	</default>
</config>
