<?xml version="1.0"?>

<config>
	<modules>
		<Boxalino_Export>
			<version>1.7</version>
			<active>true</active>
			<codepool>local</codepool>
		</Boxalino_Export>
	</modules>
	<global>
		<helpers>
			<boxalinocem>
				<class>Boxalino_Export_Helper</class>
			</boxalinocem>
		</helpers>
		<index>
			<indexer>
				<boxalinocem_xmlindexer>
					<model>Boxalino_Export_Model_Indexer</model>
				</boxalinocem_xmlindexer>
			</indexer>
		</index>
		<models>
			<boxalinocem>
				<class>Boxalino_Export_Model</class>
				<resourceModel>boxalinocem_mysql4</resourceModel>
			</boxalinocem>
			<boxalinocem_mysql4>
				<class>Boxalino_Export_Model_Mysql4</class>
				<entities>
				</entities>
			</boxalinocem_mysql4>
		</models>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Boxalino_Export>
					<files>
						<default>Boxalino_Cem.csv</default>
					</files>
				</Boxalino_Export>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<boxalinocem>
			<service>
				<connect_timeout>1000</connect_timeout>
				<connect_tries>5</connect_tries>
				<read_timeout>15000</read_timeout>
				<language>en</language>
			</service>
			<synchronization>
				<data_mode>1</data_mode>
				<export_categories>1</export_categories>
				<export_tags>1</export_tags>
				<image_sizes>standard:300x300</image_sizes>
				<small_image_sizes>standard:70x70</small_image_sizes>
				<maximum_population>0</maximum_population>
			</synchronization>
		</boxalinocem>
	</default>
</config>
