<?xml version="1.0"?>

<config>
	<sections>
		<boxalinocem translate="label" module="boxalinocem">
			<class>separator-top</class>
			<label>Boxalino Exporter</label>
			<tab>boxalino</tab>
			<frontend_type>text</frontend_type>
			<sort_order>800</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<service translate="label" module="boxalinocem">
					<label>Service Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
                        <debug translate="label">
                            <label>Display debug output</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug>
					</fields>
				</service>
				<synchronization translate="label" module="boxalinocem">
					<label>Data Synchronization</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<url translate="label">
							<label>Bridge URL</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</url>
						<access_code translate="label">
							<label>Access Code</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</access_code>
						<export_categories translate="label">
							<label>Export Categories</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</export_categories>
						<export_tags translate="label">
							<label>Export Tags</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</export_tags>
						<image_sizes translate="label">
							<label>Product Image Sizes (ie. 'small:150x150,standard:300x300,big:600x600')</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</image_sizes>
						<small_image_sizes translate="label">
							<label>Product Thumbnail Sizes (ie. 'standard:70x70')</label>
							<frontend_type>text</frontend_type>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</small_image_sizes>
						<additional_attributes translate="label">
							<label>Additional Attributes (comma-separated list)</label>
							<frontend_type>text</frontend_type>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</additional_attributes>
						<maximum_population translate="label">
							<label>Maximum amount of product to export (0=all)</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</maximum_population>
					</fields>
				</synchronization>
			</groups>
		</boxalinocem>
	</sections>
</config>
