<?xml version="1.0"?>

<config>
    <tabs>
        <boxalino translate="label" module="boxalinoexporter">
            <label>Boxalino Extensions</label>
            <sort_order>100</sort_order>
        </boxalino>
    </tabs>
    <sections>
        <boxalinoexporter translate="label" module="boxalinoexporter">
            <class>separator-top</class>
            <label>Boxalino Exporter</label>
            <tab>boxalino</tab>
            <frontend_type>text</frontend_type>
            <sort_order>800</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <export_data translate="label" module="boxalinoexporter">
                    <label>Export Data Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <export_server translate="label">
                            <label>Export server</label>
                            <frontend_type>text</frontend_type>
                            <comment>Set server where data will be exported</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_server>
                        <language translate="label">
                            <label>Language</label>
                            <frontend_type>text</frontend_type>
                            <comment>Set language of your store view
                                <![CDATA[<br />Available: en, fr, de, it, es, zh, cz, ru]]></comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <additional_attributes translate="label">
                            <label>Additional Attributes</label>
                            <comment>Write here comma-separated names of attributes which you want to export</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </additional_attributes>
                        <export_product_url translate="label">
                            <label>Export products url</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_product_url>
                        <export_product_images translate="label">
                            <label>Export products images url</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_product_images>
                        <export_product_images_thumbnail translate="label">
                            <label>Export products thumbnail url</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_product_images_thumbnail>
                        <maximum_population translate="label">
                            <label>Maximum amount of product to export</label>
                            <comment>0=all</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </maximum_population>
                        <export_categories translate="label">
                            <label>Export Categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_categories>
                        <export_tags translate="label">
                            <label>Export Tags</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_tags>
                        <export_customers translate="label">
                            <label>Export Customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_customers>
                        <export_transactions translate="label">
                            <label>Export Transactions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_transactions>
                        <export_chunk translate="label">
                            <label>Chunk size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </export_chunk>
                    </fields>
                </export_data>
            </groups>
        </boxalinoexporter>
    </sections>
</config>
