<?xml version="1.0"?>

<config>
    <tabs>
        <boxalino translate="label" module="Boxalino_CemSearch">
            <label>Boxalino Extensions</label>
            <sort_order>100</sort_order>
        </boxalino>
    </tabs>
    <sections>
        <Boxalino_General translate="label" module="Boxalino_CemSearch">
            <class>separator-top</class>
            <label>Boxalino General Configuration</label>
            <tab>boxalino</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Boxalino General Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!-- ENABLED -->
                        <enabled translate="label">
                            <label>Enabled plugin</label>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </enabled>
                        <!-- MEMORY logging-->
                        <logs_saving translate="label">
                            <label>Logs Saving</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </logs_saving>
                        <logs_saving_frontend translate="label">
                            <label>Frontend Logs Saving</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </logs_saving_frontend>
                        <!-- ACCOUNT DEV -->
                        <account_dev translate="label">
                            <label>Development environment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </account_dev>
                        <!-- DOMAIN -->
                        <domain translate="label">
                            <label>Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </domain>
                        <!-- HOST -->
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </host>
                        <di_username translate="label">
                            <label>Data Intelligence Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </di_username>
                        <di_password translate="label">
                            <label>Data Intelligence Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </di_password>
                        <!-- ACCOUNT -->
                        <di_account translate="label">
                            <label>Data Intelligence Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </di_account>
                        <!-- USERNAME -->
                        <p13n_username translate="label">
                            <label>P13n Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </p13n_username>
                        <!-- PASSWORD -->
                        <p13n_password translate="label">
                            <label>P13n Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </p13n_password>
                        <additional_fields>
                            <label>Return additional fields</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Write here comma-separated names of fields from the Data Intelligence which should be returned with P13n response<br />
                        Colon separate option: global (without language version), local (with language version)]]></comment>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </additional_fields>
                    </fields>
                </general>

                <search translate="label" module="Boxalino_CemSearch">
                    <!--<label>Recommendations Widgets</label>-->
                    <label>Search Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>41</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- QUICK SEARCH -->
                        <quick_search translate="label">
                            <label>Quick search</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quick_search>
                        <quick_search_limit translate="label">
                            <label>Quick search limit</label>
                            <comment><![CDATA[ 0 = without limit ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quick_search_limit>
                        <!-- ADVANCED SEARCH -->
                        <advanced_search translate="label">
                            <label>Advanced search</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </advanced_search>
                        <advanced_search_limit translate="label">
                            <label>Advanced search limit</label>
                            <comment><![CDATA[ 0 = without limit ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </advanced_search_limit>
                        <!-- AUTOCOMPLETE -->
                        <autocomplete translate="label">
                            <label>Autocomplete</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </autocomplete>
                        <!-- AUTOCOMPLETE LIMIT-->
                        <autocomplete_limit translate="label">
                            <label>Autocomplete limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </autocomplete_limit>
                        <!-- AUTOCOMPLETE PRODUCTS LIMIT-->
                        <autocomplete_products_limit translate="label">
                            <label>Autocomplete products limit</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </autocomplete_products_limit>
                        <!-- Entity Id -->
                        <entity_id translate="label">
                            <label>Id field name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </entity_id>
                    </fields>
                </search>
                <autocomplete_html translate="label" module="Boxalino_CemSearch">
                    <label>Autocomplete View</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>45</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Magento logic</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <items translate="label">
                            <label>Mapping fields</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Write here comma-separated names of fields which you want to use in autocomplete (for example: title)<br />
                            Colon separate name of attribute (left), from field name (right). <br/> Example: color:product_color<br />
                            <strong>Important</strong>: fields for product name and product url can't be change (title for product name, and url for product url ]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </items>
                    </fields>
                </autocomplete_html>
                <autocomplete_extra translate="label" module="Boxalino_CemSearch">
                    <label>Autocomplete Categories Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable autocomplete categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <enabled_for_all translate="label">
                            <label>Display for all term</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[ If no, then display categories for the first term only. <br /> If yes, then display categories for all terms. ]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled_for_all>
                        <items translate="label">
                            <label>Number of categories per term</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </items>
                        <sort translate="label">
                            <label>Sorting by products quantity</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[ If yes, then sort by number of products. ]]></comment>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort>
                        <products translate="label">
                            <label>Enable product preview for categories</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </products>
                    </fields>
                </autocomplete_extra>
                <search_suggestions translate="label" module="Boxalino_CemSearch">
                    <label>Search Suggestions Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>52</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable search suggestion</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <min translate="label">
                            <label>Minimum for range</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Display suggestion, when quantity of products is fewer than this value ]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <max translate="label">
                            <label>Maximum for range</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Display suggestion, when quantity of products is more than this value ]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <display translate="label">
                            <label>Maximum number of suggestions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </display>
                        <sort translate="label">
                            <label>Sorting by products quantity</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment><![CDATA[ If no, then sort by name ]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort>
                    </fields>
                </search_suggestions>
                <search_relaxation translate="label" module="Boxalino_CemSearch">
                    <label>Search Relaxation Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>55</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable search relaxation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <max translate="label">
                            <label>Maximum for quantity of products</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Display relaxation, when quantity of products is less than this value ]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <relaxations>
                            <label>Maximum of relaxations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </relaxations>
                        <products>
                            <label>Maximum of products for relaxation</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </products>
                    </fields>
                </search_relaxation>
                <filter translate="label" module="Boxalino_CemSearch">
                    <label>Filters Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <left_filters_enable translate="label">
                            <label>Enable filters (left side)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>39</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </left_filters_enable>
                        <left_filters_multioption translate="label">
                            <label>Left filters multioption</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </left_filters_multioption>
                        <left_filters_normal translate="label">
                            <label>Normal filters (left side)</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[ Write here comma-separated names of fields which you want to use as filters (for example: manufacturer)<br />
                        Colon separate name of field (left) from option (middle), and order (right). <br/> For order: 0 - alphabetical, 1 - count ]]></comment>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </left_filters_normal>
                        <left_filters_normal_title translate="label">
                            <label>Normal filters titles (left side)</label>
                            <frontend_type>text</frontend_type>
                            <comment>Write here comma-separated titles which should be displayed on page (in same order as names of fields)</comment>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </left_filters_normal_title>
                        <top_filters_enable translate="label">
                            <label>Enable top filters</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>58</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </top_filters_enable>
                        <top_filters_multioption translate="label">
                            <label>Top filters multioption</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>59</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </top_filters_multioption>
                        <top_filters translate="label">
                            <label>Top filters</label>
                            <frontend_type>text</frontend_type>
                            <comment>Write here comma-separated names of fields which you want to use as top filters</comment>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </top_filters>
                        <top_filters_title translate="label">
                            <label>Top filters titles</label>
                            <frontend_type>text</frontend_type>
                            <comment>Write here comma-separated titles which should be displayed on page (in same order as names of fields)</comment>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </top_filters_title>
                    </fields>
                </filter>
                <tracker translate="label" module="Boxalino_CemSearch">
                    <label>Tracking</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable plugin</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <track_sales translate="label">
                            <label>Enable Sales Tracking</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </track_sales>
                        <analytics translate="label">
                            <label>Enable Analytics</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </analytics>
                        <charset translate="label">
                            <label>Character encoding</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </charset>
                    </fields>
                </tracker>
                <jquery translate="label" module="Boxalino_CemSearch">
                    <label>jQuery Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <jquery_file translate="label">
                            <label>Load jQuery File</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </jquery_file>
                        <noconflict_file translate="label">
                            <label>Load jQuery noConflict File</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </noconflict_file>
                    </fields>
                </jquery>
            </groups>
        </Boxalino_General>

        <Boxalino_Recommendation translate="label" module="Boxalino_CemSearch">
            <class>separator-top</class>
            <label>Boxalino Recommendation</label>
            <tab>boxalino</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <!-- CART -->
                <cart translate="label" module="Boxalino_CemSearch">
                    <label>Cart Configuration</label>
                    <comment><![CDATA[ Widget configuration for recommendation on basket page. ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Widgets enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Widget name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </cart>
                <!-- CART END -->
                <!-- RELATED -->
                <related translate="label" module="Boxalino_CemSearch">
                    <label>Related Configuration</label>
                    <comment><![CDATA[ Widget configuration for related recommendation on product page. ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Widget enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Widgets name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </related>
                <!-- RELATED END -->

                <!-- UPSELL -->
                <upsell translate="label" module="Boxalino_CemSearch">
                    <label>Upsell Configuration</label>
                    <comment><![CDATA[ Widget configuration for upsell recommendation on product page. ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Widgets enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Widget name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>38</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </upsell>
                <!-- UPSELL END -->
            </groups>
        </Boxalino_Recommendation>

    </sections>

</config>
