<?xml version="1.0"?>
<config>
	<modules>
		<Boxalino_CemSearch>
			<version>1.0.0</version>
		</Boxalino_CemSearch>
	</modules>
	<frontend>
		<routers>
			<catalogsearch>
				<args>
					<modules>
						<Boxalino_CemSearch before="Mage_CatalogSearch">Boxalino_CemSearch</Boxalino_CemSearch>
					</modules>
				</args>
			</catalogsearch>
			<routeurfrontend>
				<use>standard</use>
				<args>
					<module>Boxalino_CemSearch</module>
					<frontName>cemsearch</frontName>
				</args>
			</routeurfrontend>
		</routers>
	</frontend>
	<global>
		<helpers>
			<Boxalino_CemSearch>
				<class>Boxalino_CemSearch_Helper</class>
			</Boxalino_CemSearch>
		</helpers>
		<models>
			<catalogsearch_resource>
				<rewrite>
					<fulltext>Boxalino_CemSearch_Model_Resource_Fulltext</fulltext>
				</rewrite>
				<rewrite>
					<advanced_collection>Boxalino_CemSearch_Model_Resource_Advanced_Collection</advanced_collection>
				</rewrite>
			</catalogsearch_resource>

			<catalogsearch>
				<rewrite>
					<advanced>Boxalino_CemSearch_Model_Advanced</advanced>
				</rewrite>
			</catalogsearch>
		</models>
		<resources>
			<test_write>
				<connection>
					<use>core_write</use>
				</connection>
			</test_write>
			<test_read>
				<connection>
					<use>core_read</use>
				</connection>
			</test_read>
		</resources>
		<blocks>
			<cemsearch>
				<class>Boxalino_CemSearch_Block</class>
			</cemsearch>
			<catalogsearch>
				<rewrite>
					<autocomplete>Boxalino_CemSearch_Block_Autocomplete</autocomplete>
				</rewrite>
			</catalogsearch>
            <checkout>
                <rewrite>
                    <cart_crosssell>Boxalino_CemSearch_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <product_list_related>Boxalino_CemSearch_Block_Product_List_Related</product_list_related>
                    <product_list_upsell>Boxalino_CemSearch_Block_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
		</blocks>
	</global>
    <default>
        <Boxalino_CemSearch>
            <backend>
                <account_dev>0</account_dev>
            </backend>
            <general>
                <quick_search>quick_search</quick_search>
                <quick_search_limit>0</quick_search_limit>
                <advanced_search>quick_search</advanced_search>
                <advanced_search_limit>0</advanced_search_limit>
                <autocomplete>autocomplete</autocomplete>
                <autocomplete_limit>6</autocomplete_limit>
                <entity_id>entity_id</entity_id>
            </general>
            <recommendation>
                <!-- CART -->
                <cart_status>1</cart_status>
                <cart_widget>recommendation_cart</cart_widget>
                <cart_min>0</cart_min>
                <cart_max>3</cart_max>
                <!-- RELATED -->
                <related_status>1</related_status>
                <related_widget>recommendation_widget</related_widget>
                <related_min>0</related_min>
                <related_max>3</related_max>
                <!-- UPSELL -->
                <upsell_status>1</upsell_status>
                <upsell_widget>recommendation_upsell</upsell_widget>
                <upsell_min>0</upsell_min>
                <upsell_max>3</upsell_max>
            </recommendation>
        </Boxalino_CemSearch>
    </default>
</config>