<?xml version="1.0"?>
<config>
    <modules>
        <Boxalino_CemSearch>
            <version>1.0.0</version>
        </Boxalino_CemSearch>
    </modules>
    <frontend>
        <routers>
            <catalogsearch>
                <args>
                    <modules>
                        <Boxalino_CemSearch before="Mage_CatalogSearch">Boxalino_CemSearch</Boxalino_CemSearch>
                    </modules>
                </args>
            </catalogsearch>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>Boxalino_CemSearch</module>
                    <frontName>cemsearch</frontName>
                </args>
            </routeurfrontend>
            <routers>
                <boxalinocem>
                    <use>standard</use>
                    <args>
                        <module>Boxalino_Cem</module>
                        <frontName>cem</frontName>
                    </args>
                </boxalinocem>
            </routers>
        </routers>
        <layout>
            <updates>
                <boxalino>
                    <file>boxalino.xml</file>
                </boxalino>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <boxalinocem_cart_add>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onProductAddedToCart</method>
                    </boxalinocem_cart_add>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <boxalinocem_order_success>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onOrderSuccessPageView</method>
                    </boxalinocem_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <boxalinocem_order_success>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onOrderSuccessPageView</method>
                    </boxalinocem_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <catalog_controller_product_view>
                <observers>
                    <boxalinocem_product_view>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onProductPageView</method>
                    </boxalinocem_product_view>
                </observers>
            </catalog_controller_product_view>
            <catalog_controller_category_init_after>
                <observers>
                    <boxalinocem_category_view>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onCategoryPageView</method>
                    </boxalinocem_category_view>
                </observers>
            </catalog_controller_category_init_after>
            <customer_login>
                <observers>
                    <boxalinocem_login>
                        <class>Boxalino_CemSearch_Model_Observer</class>
                        <method>onLogin</method>
                    </boxalinocem_login>
                </observers>
            </customer_login>
        </events>
        <translate>
            <modules>
                <Boxalino_CemSearch>
                    <files>
                        <default>Boxalino.csv</default>
                    </files>
                </Boxalino_CemSearch>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <Boxalino_CemSearch>
                <class>Boxalino_CemSearch_Helper</class>
            </Boxalino_CemSearch>
            <catalogsearch>
                <rewrite>
                    <data>Boxalino_CemSearch_CatalogSearch_Helper_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>
        <models>
            <boxalino_cemsearch>
                <class>Boxalino_CemSearch_Model</class>
            </boxalino_cemsearch>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Boxalino_CemSearch_Model_Resource_Fulltext</fulltext>
                </rewrite>
                <rewrite>
                    <advanced_collection>Boxalino_CemSearch_Model_Resource_Advanced_Collection</advanced_collection>
                </rewrite>
            </catalogsearch_resource>
            <catalogsearch>
                <rewrite>
                    <advanced>Boxalino_CemSearch_Model_Advanced</advanced>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <category>Boxalino_CemSearch_Model_Category</category>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <test_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </test_write>
            <test_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </test_read>
        </resources>
        <blocks>
            <boxalino>
                <class>Boxalino_CemSearch_Block</class>
            </boxalino>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Boxalino_CemSearch_Block_Autocomplete</autocomplete>
                </rewrite>
            </catalogsearch>
            <checkout>
                <rewrite>
                    <cart_crosssell>Boxalino_CemSearch_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
            <catalog>
                <rewrite>
                    <product_list_related>Boxalino_CemSearch_Block_Product_List_Related</product_list_related>
                    <product_list_upsell>Boxalino_CemSearch_Block_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
            <!--<enterprise_targetrule>-->
                <!--<rewrite>-->
                    <!--<catalog_product_list_related>Boxalino_CemSearch_Block_Product_List_Related</catalog_product_list_related>-->
                    <!--<catalog_product_list_upsell>Boxalino_CemSearch_Block_Product_List_Upsell</catalog_product_list_upsell>-->
                <!--</rewrite>-->
            <!--</enterprise_targetrule>-->
        </blocks>
    </global>
    <default>
        <Boxalino_General>
            <general>
                <enabled>1</enabled>
                <account_dev>0</account_dev>
                <host>cdn.bx-cloud.com</host>
                <logs_saving>0</logs_saving>
            </general>
            <search>
                <quick_search>search</quick_search>
                <quick_search_limit>0</quick_search_limit>
                <advanced_search>search</advanced_search>
                <advanced_search_limit>0</advanced_search_limit>
                <autocomplete>autocomplete</autocomplete>
                <autocomplete_limit>6</autocomplete_limit>
                <autocomplete_products_limit>3</autocomplete_products_limit>
                <entity_id>id</entity_id>
            </search>
            <autocomplete_html>
                <enabled>1</enabled>
                <items>title:title,url:products_default_url,image:products_cache_image_url</items>
            </autocomplete_html>
            <autocomplete_extra>
                <enabled>1</enabled>
                <enabled_for_all>0</enabled_for_all>
                <items>4</items>
                <sort>1</sort>
                <products>1</products>
            </autocomplete_extra>
            <search_suggestions>
                <enabled>1</enabled>
                <min>3</min>
                <max>50</max>
                <display>6</display>
                <sort>1</sort>
            </search_suggestions>
            <search_relaxation>
                <enabled>1</enabled>
                <max>3</max>
                <relaxations>3</relaxations>
                <products>3</products>
            </search_relaxation>
            <filter>
                <left_filters_enable>0</left_filters_enable>
                <top_filters_enable>0</top_filters_enable>
                <left_filters_multiselect>0</left_filters_multiselect>
                <top_filters_multiselect>0</top_filters_multiselect>
            </filter>
            <tracker>
                <charset>UTF-8</charset>
                <enabled>1</enabled>
                <debug>1</debug>
                <analytics>1</analytics>
                <track_sales>1</track_sales>
            </tracker>
        </Boxalino_General>

        <Boxalino_Recommendation>
            <!-- CART -->
            <cart>
                <status>1</status>
                <widget>recommendation_cart</widget>
                <min>0</min>
                <max>3</max>
                <scenario>basket</scenario>
            </cart>
            <!-- RELATED -->
            <related>
                <status>1</status>
                <widget>recommendation_related</widget>
                <min>0</min>
                <max>3</max>
                <scenario>product</scenario>
            </related>
            <!-- UPSELL -->
            <upsell>
                <status>1</status>
                <widget>recommendation_upsell</widget>
                <min>0</min>
                <max>3</max>
                <scenario>product</scenario>
            </upsell>
        </Boxalino_Recommendation>
    </default>
</config>