<?xml version="1.0"?>

<config>
    <tabs>
        <boxalino translate="label" module="Boxalino_CemSearch">
            <label>Boxalino Extensions</label>
            <sort_order>100</sort_order>
        </boxalino>
    </tabs>
	<sections>
		<Boxalino_CemSearch translate="label" module="Boxalino_CemSearch">
			<class>separator-top</class>
			<label>Boxalino Configuration</label>
			<tab>boxalino</tab>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
                <backend translate="label">
                    <label>Boxalino Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!-- HOST -->
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </host>
                        <!-- ACCOUNT -->
                        <account translate="label">
                            <label>Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </account>
                        <!-- ACCOUNT DEV -->
                        <account_dev translate="label">
                            <label>Dev environment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </account_dev>
                        <!-- USERNAME -->
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </username>
                        <!-- PASSWORD -->
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </password>
                        <!-- DOMAIN -->
                        <domain translate="label">
                            <label>Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </domain>
                        <!-- INDEX ID -->
                        <indexId translate="label">
                            <label>IndexId</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </indexId>

                    </fields>
                </backend>

				<general translate="label" module="Boxalino_CemSearch">
					<!--<label>Recommendations Widgets</label>-->
					<label>General Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>51</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- QUICK SEARCH -->
						<quick_search translate="label">
							<label>Quick search</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</quick_search>
                        <quick_search_limit translate="label">
                            <label>Quick search limit</label>
                            <comment><![CDATA[ 0 = without limit ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quick_search_limit>
						<!-- ADVANCED SEARCH -->
						<advanced_search translate="label">
							<label>Advanced search</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</advanced_search>
                        <advanced_search_limit translate="label">
                            <label>Advanced search limit</label>
                            <comment><![CDATA[ 0 = without limit ]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </advanced_search_limit>
						<!-- AUTOCOMPLETE -->
						<autocomplete translate="label">
							<label>Autocomplete</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</autocomplete>
						<!-- AUTOCOMPLETE LIMIT-->
						<autocomplete_limit translate="label">
							<label>Autocomplete limit</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</autocomplete_limit>
						<!-- AUTOCOMPLETE PRODUCTS LIMIT-->
						<autocomplete_products_limit translate="label">
							<label>Autocomplete products limit</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</autocomplete_products_limit>
                        <!-- Entity Id -->
                        <entity_id translate="label">
                            <label>Id field name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </entity_id>
					</fields>
				</general>
				<frontend translate="label" module="boxalinocem">
					<label>Frontend</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label">
							<label>Enable plugin</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</enabled>
						<track_sales translate="label">
							<label>Enable Sales Tracking</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</track_sales>
						<analytics translate="label">
							<label>Enable Analytics</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</analytics>
						<pageapi translate="label">
							<label>Enable pages (ie. '/search.html,/category.html,/product.html,/basket.html')</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</pageapi>
						<charset translate="label">
							<label>Character encoding</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</charset>
						<debug translate="label">
							<label>Display debug output</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>100</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</debug>
					</fields>
				</frontend>
			</groups>
		</Boxalino_CemSearch>

        <Boxalino_Recommendation translate="label" module="Boxalino_CemSearch">
            <class>separator-top</class>
            <label>Boxalino Recommendation</label>
            <tab>boxalino</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <!-- CART -->
                <cart translate="label" module="Boxalino_CemSearch">
                    <label>Cart Configuration</label>
                    <comment><![CDATA[ COMMENT ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Cart widgets enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Cart widget name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Cart minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Cart maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </cart>
                <!-- CART END -->
                <!-- RELATED -->
                <related translate="label" module="Boxalino_CemSearch">
                    <label>Related Configuration</label>
                    <comment><![CDATA[ COMMENT ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Related widget enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Related widgets name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Related minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Related maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </related>
                <!-- RELATED END -->

                <!-- UPSELL -->
                <upsell translate="label" module="Boxalino_CemSearch">
                    <label>Upsell Configuration</label>
                    <comment><![CDATA[ COMMENT ]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <!-- STATUS -->
                        <status translate="label">
                            <label>Upsell widgets enabled</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </status>
                        <!-- WIDGET NAME -->
                        <widget translate="label">
                            <label>Upsell widget name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>32</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </widget>
                        <!-- MINIMUM -->
                        <min translate="label">
                            <label>Upsell minimum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min>
                        <!-- MAXIMUM -->
                        <max translate="label">
                            <label>Upsell maximum recommendations</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>38</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max>
                        <!-- SCENARIO -->
                        <scenario translate="label">
                            <label>Scenario</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </scenario>
                    </fields>
                </upsell>
                <!-- UPSELL END -->
            </groups>
        </Boxalino_Recommendation>

	</sections>

</config>
