<?xml version="1.0"?>

<config>
	<sections>
		<Boxalino_CemSearch translate="label" module="Boxalino_CemSearch">
			<class>separator-top</class>
			<label>Boxalino CEM Search</label>
			<tab>catalog</tab>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
                <backend translate="label">
                    <label>Boxalino Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <!--<short_desc_instructions translate="label">-->
                            <!--<label>Short Description Instructions</label>-->
                            <!--<frontend_type>textarea</frontend_type>-->
                            <!--<sort_order>50</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                        <!--</short_desc_instructions>-->
                        <!-- HOST -->
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </host>
                        <!-- ACCOUNT -->
                        <account translate="label">
                            <label>Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </account>
                        <!-- USERNAME -->
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </username>
                        <!-- PASSWORD -->
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <!-- DOMAIN -->
                        <domain translate="label">
                            <label>Domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </domain>
                        <!-- INDEX ID -->
                        <indexId translate="label">
                            <label>IndexId</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </indexId>

                    </fields>
                </backend>

				<recommendation_widgets translate="label" module="Boxalino_CemSearch">
					<!--<label>Recommendations Widgets</label>-->
					<label>General Configuration</label>
					<frontend_type>text</frontend_type>
					<sort_order>51</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<!-- QUICK SEARCH -->
						<quick_search translate="label">
							<label>Quick search</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</quick_search>
						<!-- ADVANCED SEARCH -->
						<advanced_search translate="label">
							<label>Advanced search</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</advanced_search>
						<!-- AUTOCOMPLETE -->
						<autocomplete translate="label">
							<label>Autocomplete</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</autocomplete>
						<!-- AUTOCOMPLETE LIMIT-->
						<autocomplete_limit translate="label">
							<label>Autocomplete limit</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</autocomplete_limit>
                        <!-- Entity Id -->
                        <entity_id translate="label">
                            <label>Id field (default: entity_id)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </entity_id>
					</fields>
				</recommendation_widgets>
			</groups>
		</Boxalino_CemSearch>
	</sections>
</config>
